* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-logo {
  display: flex;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }
  i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
  }
  .header-button {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font: size 24px;
  }
}
.team {
  display: flex;
  padding: 30px;
  margin-top: 30px;
  justify-content: center;
  color: #fff;
}

.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 14px;
}
.about-content img {
  border-radius: 30px;
  min-width: 180px;
  max-width: 350px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-description p {
  margin-bottom: 5px;
  line-height: 150%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.bg-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../img/wallpaper.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
}

.hero-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-container h1 {
  text-align: center;
  line-height: 100%;
  max-width: 940px;
  font-size: 36px;
}
.hero-container p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  border-radius: 7px;
  color: #fff;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 760px) {
  .hero {
    min-height: 60vh;
  }
  h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  p {
    font-size: 14px;
  }
  .bg-home::before {
    background-position: center top;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */