header{
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px 0;
   
}

i{
    color: $white-normal;
}

.header-icons{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.header-icons a:hover i{
    
    animation: translateY 0.8s infinite alternate;
color: $red-light;
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.header-logo {
    display: flex;
    align-items: center;
    max-width: 350px; 
    width: 100%; 
    margin: 0 auto; 
}


@media screen and (max-width: 769px){
    .header-content{
        
        flex-direction: column;
       text-align: center;
    }

    i{
        margin-top: 16px;
        font-size: 34px;
    }

    .header-logo img {
        max-width: 260px;
        width: 100%; 
        margin: 0 auto; 
    }

    .header-button{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .hero h1{
        font: size 24px;
    }
}

.team {
  text-align: center;
  margin-top: 20px;
    color: $white-normal;
}

// ------------

.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
   
    align-items: center;
    justify-content: space-evenly;
   

    img{
        border-radius: 30px;
        width: 200px;
        height: auto;
    }
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-description{
    p{
        margin-bottom: 5px;
        line-height: 150%;
    }
}
