header{
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

i{
    color: $white-normal;
}

.header-icons{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    
}

.header-icons a:hover i{
    
    animation: translateY 0.8s infinite alternate;
color: $red-light;
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.header-logo {
    display: flex;
    align-items: center;
    max-width: 350px; 
    width: 100%; 
    margin: 0 auto; 
}


@media screen and (max-width: 769px){
    .header-content{
        
        flex-direction: column;
       text-align: center;
    }

    i{
        margin-top: 16px;
        font-size: 34px;
    }

    .header-logo img {
        max-width: 260px;
        width: 100%; 
        margin: 0 auto; 
    }

    .header-button{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .hero h1{
        font: size 24px;
    }
}

.equipe{
    display: flex;
    padding: 30px;
    margin-top: 30px;
    justify-content: center;
    color: $white-normal;

}

// ------------

.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
   
    align-items: center;
    justify-content: space-around;
    gap: 14px;

    img{
        border-radius: 40px;
        max-width: 300px;
    }
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

about-description{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
}
